.habit-list{
    display: flex;
    &-item{
        width: 186px;
        height: 60px;
        border-radius: 8px;
        border: 1px solid #CCCCCC;
        margin-right: 64px;
        font-size: 24px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #333333;
        line-height: 60px;
        text-align: center;
        &.active{
            border: 1px solid #40D899;
            color: #40D899;
        }
    }
}