.edu-picker {
    width: 100%;
    margin-top: 64px;
    .title {
        font-size: 40px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: bold;
        color: #393939;
        line-height: 40px;
        text-align: center;
      }
      .subtitle{
        font-size: 24px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #393939;
        line-height: 24px;
        margin-top: 24px;
        text-align: center;
        margin-bottom: 214px;
      }
  }
  