@import '@style/theme.scss';
.page-anxious-start{
    width: 100%;
    padding-top: 528px;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
    background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-bg.png') center center no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding: 162px 30px 0;
    .anxious-o3{
        width: 72px;
        height: 64px;
        background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-o3.png') center center no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    .anxious-bord{
        width: 100%;
        height: 926px;
        background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-bord.png') center center no-repeat;
        background-size: 100% 100%;
        position: relative;
        z-index: 9;
        .anxious-title{
            width: 594px;
            height: 132px;
            position: absolute;
            background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-title.png') center center no-repeat;
            background-size: 100% 100%;
            top: 58px;
            left: 50%;
            transform: translateX(-50%);
        }
        .anxious-o2{
            width: 66px;
            height: 60px;
            position: absolute;
            background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-o2.png') center center no-repeat;
            background-size: 100% 100%;
            top: 96px;
            left: -22px;
        }
        .anxious-o1{
            width: 72px;
            height: 52px;
            position: absolute;
            background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-o1.png') center center no-repeat;
            background-size: 100% 100%;
            top: 666px;
            right: -26px;
        }
        .anxious-people{
            width: 604px;
            height: 262px;
            position: absolute;
            background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-people.png') center center no-repeat;
            background-size: 100% 100%;
            top: 218px;
            right: 20px;
        }
        .anxious-cat{
            width: 158px;
            height: 108px;
            position: absolute;
            background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-cat.png') center center no-repeat;
            background-size: 100% 100%;
            left: 54px;
            top: 366px;
            // animation: cat linear 20s ;
            // animation-fill-mode: none;
        }
        .anxious-book{
            width: 120px;
            height: 120px;
            position: absolute;
            background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-book.png') center center no-repeat;
            background-size: 100% 100%;
            right: 20px;
            bottom: -24px;
        }
        .anxious-text{
            position: absolute;
            width: 604px;
            top: 510px;
            left: 50%;
            transform: translateX(-50%);
            &-title{
                font-size: 32px;
                font-family: PingFang-SC-Heavy, PingFang-SC;
                font-weight: 800;
                color: #333333;
                line-height: 32px;
                position: relative;
                margin-bottom: 18px;
                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    left: -10px;
                    top: -14px;
                    width: 42px;
                    height: 42px;
                    background: #FFD8D0;
                    border-radius: 50%;
                    z-index: -1;
                }
            }
            &-content{
                font-size: 24px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #666666;
                line-height: 32px;
                margin-bottom: 32px;
            }
        }
    }
    .anxious-btn{
        width: 470px;
        height: 110px;
        background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-btn.png') center center no-repeat;
        background-size: 100% 100%;
        margin-top: 54px;
        text-align: center;
        line-height: 100px;
        font-size: 40px;
        font-family: PingFang-SC-Heavy, PingFang-SC;
        font-weight: bold;
        color: #67522A;
    }
    .anxious-tip{
        width: 690px;
        height: 106px;
        background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-tip.png') center center no-repeat;
        background-size: 100% 100%;
        font-size: 28px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #666666;
        line-height: 92px;
        text-align: center;
        margin-top: 44px;
        margin-bottom: 94px;
        z-index: 2;

    }
    .anxious-bottom{
        width: 100vw;
        height: 142px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-bottom.png') center center no-repeat;
        background-size: 100% 100%;
    }
    .anxious-light{
        width: 110px;
        height: 188px;
        position: absolute;
        left: 52px;
        top: 34px;
        background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-light.png') center center no-repeat;
        background-size: 100% 100%;
        z-index: 8;
    }
}
.none{
    width: 100%;
    height: 100%;
    background: $white;
    align-items: center;
    justify-content: space-around;
    .none-content{
        align-items: center;
        flex-direction: column;
        font-size: 28px;
        color: $color-666;
    }
    .none-bg{
        width: 524px;
        height: 414px;
        background: url('#{$ossHost}/hpv_no_bg.png') no-repeat;
        background-size: 100% 100%;
        margin-bottom: 48px;
    }
}
@keyframes cat {
    0%{
        left: 54px;
        top: 366px;
    }
    25%{
        left: 512px;
        top: 366px;
    }
    50%{
        left: 512px;
        top: 800px;
    }
    75%{
        left: 54px;
        top: 800px;
    }
    100%{
        left: 54px;
        top: 800px;
    }
}
