.page-step {
    // margin-top: 20px;
    background-color: #ffffff;
    min-height: calc(100% - 20px);
    .subtitle {
        text-align: center;
        margin-top: 64px;
        font-size: 24px;
        font-weight: 400;
        color: #999999;
    }
    .region-bottom {
        position: absolute;
        bottom: 64px;
        left: 100px;
        right: 98px;
    }
    .record-title {
        font-size: 40px;
        font-weight: bold;
        color: #333;
        margin: 48px 0 96px;
        text-align: center;
    }
    .part-title {
        font-size: 32px;
        font-weight: bold;
        color: #333;
    }
    .record-input {
        width: 686px;
        height: 92px;
        // box-shadow: 0px 2px 0px 0px rgba(204, 204, 204, 0.5);
        font-size: 28px;
        margin: 0 0 32px;
        border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    }
    .input-title {
        font-size: 28px;
        font-weight: bold;
        color: #333;
    }
    .mt56 {
        margin-top: 56px;
    }
    .record-cur {
        font-size: 24px;
        color: #999999;
        text-align: center;
        padding-top: 32px;
    }
    .mt158 {
        margin-top: 118px;
    }
}
