//2.0版本的
$black: #000000;
$white: #ffffff;
$color-333: #333333;
$color-666: #666666;
$color-999: #999999;
$color-main-red: #E94C40;
$color-main-yellow: #FE9A51;
$page-bg: #FBFBFB;
$disable: #CCCCCC;
$border: rgba(246,246,246,1);
// cdn 图片库
$ossHost: 'https://user-center-images-1301127519.cos.ap-shanghai.myqcloud.com';