@import "@style/theme.scss";
.info {
    background: $page-bg;
    flex-direction: column;
    align-items: center;
    .center {
        flex: 1;
        overflow: scroll;
        padding-top: 120px;
        .info-content {
            width: 686px;
            height: auto;
            background: $white;
            padding: 64px 48px;
            box-shadow: 0px 4px 20px 0px rgba(254, 154, 81, 0.1);
            border-radius: 8px;
            .item {
                margin-top: 48px;
                &:nth-child(1) {
                    margin: 0;
                }
                .title {
                    font-weight: bold;
                    font-size: 32px;
                    line-height: 32px;
                    color: $color-333;
                }
                .text {
                    width: 590px;
                    height: 96px;
                    border: none;
                    font-size: 28px;
                    border-bottom: 1px solid $border;
                    display: block;
                }
            }
        }
        .proto {
            align-items: center;
            margin-top: 32px;
            font-size: 24px;
            color: $color-999;
            .select-content {
                width: 26px;
                height: 26px;
                border: 2px solid $color-main-yellow;
                border-radius: 50%;
                position: relative;
                .select {
                    width: 16px;
                    height: 12px;
                    position: absolute;
                    left: 3px;
                    top: 4px;
                }
                &.active {
                    background: $color-main-yellow;
                }
                margin-right: 7px;
            }
            .text {
                color: $color-main-yellow;
            }
        }
        .answer {
            width: 686px;
            height: 88px;
            background: $color-main-yellow;
            color: $white;
            align-items: center;
            justify-content: space-around;
            border-radius: 44px;
            font-size: 32px;
            font-weight: bold;
            margin-top: 32px;
            &.less {
                margin-top: 294px;
            }
            &.disable {
                background: $disable;
            }
        }
    }
    .notice {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        height: 80px;
        line-height: 80px;
        background: rgba(255, 208, 101, 0.1);
        font-size: 24px;
        color: #ffd065;
    }
}
