.diabetes-trend-page{
    width: 100%;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
  .trend-tab{
    width: 100%;
    height: 96px;
    padding: 32px 64px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px 0px rgba(68,96,225,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &-item{
      font-size: 32px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #999999;
      line-height: 32px;
    }
    &-active{
      width: 44px;
      height: 8px;
      background: linear-gradient(166deg, #FDC195 0%, #FD665A 100%);
      border-radius: 4px;
      position: absolute;
      bottom: 12px;
      left: 98px;
      transition: all .3s;
      &.active7{
        bottom: 12px;
        left: 98px;
      }
      &.active30{
        bottom: 12px;
        left: 350px;
      }
      &.active90{
        bottom: 12px;
        left: 594px;
      }
    }
  }.blood-sugar {
    &-card {
        width: 686px;
        background: #ffffff;
        box-shadow: 0px 6px 20px 0px rgba(68, 96, 225, 0.2);
        border-radius: 12px;
        padding: 30px 32px;
        margin: 32px auto;
    }
    &-title {
        font-size: 32px;
        font-weight: bold;
        color: #333333;
    }
  }
  .no-data{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-img{
      background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/diabetes/no-data.png') no-repeat center center;
      background-size: 182px 200px;
      width: 182px;
      height: 200px;
      margin-top: 32px;
    }
    &-text{
      font-size: 24px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #999999;
      line-height: 24px;
      margin-top: 32px;
    }
  }
}