.header-step {
    width: 100%;
    height: 148px;
    padding: 32px 64px;
    background: #fff;
    .step-img {
        height: 84px;
        background-size: 100% 100%;
    }
    .step-1 {
        background-image: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/ferfectRecord/step-1.png');
    }
    .step-2 {
        background-image: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/ferfectRecord/step-2.png');
    }
    .step-3 {
        background-image: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/ferfectRecord/step-3.png');
    }
}
