@import '@style/theme.scss';
.page-labor-start{
    width: 100%;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
    .labor-top{
        width: 750px;
        height: 940px;
        background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/laborDay/laborDay-bgTop.png') no-repeat;
        background-size: 100% 100%;
        position: relative;
        &-tip{
            width: 686px;
            height: 302px;
            background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/laborDay/laborDay-Tip.png') no-repeat;
            background-size: 100% 100%;
            position: absolute;
            bottom: -106px;
            left: 50%;
            transform: translateX(-50%);
            padding: 94px 26px 40px;
            >P{
                width: 100%;
                font-size: 36px;
                font-weight: bold;
                color: #587AA3;
                line-height: 56px;
                letter-spacing: 4px;
                text-align: center;
                margin: 0;
                padding: 0;
            }
            .labor-top-tips{
                width: 82px;
                height: 66px;
                background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/laborDay/laborDay-bgTip.png') no-repeat;
                background-size: 100% 100%;
                position: absolute;
                bottom: 22px;
                right: 40px;
            }
        }
    }
    .labor-center{
        width: 750px;
        height: 282px;
        background: #0E937B;
        display: flex;
        justify-content: center;
        &-btn{
            width: 336px;
            height: 88px;
            background: #FEBD44;
            border-radius: 12px;
            font-size: 40px;
            font-weight: bold;
            color: #FFFFFF;
            line-height: 88px;
            letter-spacing: 6px;
            text-align: center;
            margin-top: 154px;
        }
    }
    .labor-bottom{
        background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/laborDay/laborDay-bgBottom.png') no-repeat;
        background-size: 100% 100%;
        width: 750px;
        height: 274px;
    }
}