@import '@style/theme.scss';
.answer{
    background: $page-bg;
    flex-direction: column;
    align-items: center;
    .center{
        flex: 1;
        overflow: scroll;
        .process{
            width: 686px;
            align-items: center;
            justify-content: space-between;
            font-size: 26px;
            color: $color-main-yellow;
            margin: 60px 0 50px;
            .line{
                width: 596px;
                height: 20px;
                border-radius: 10px;
                background: $white;
                .active{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    background: $color-main-yellow;
                }
            }
        }
        .content{
            width: 686px;
            height: 996px;
            background: $white;
            box-shadow:0px 4px 20px 0px rgba(254,154,81,0.1);
            border-radius:8px;
            align-items: center;
            flex-direction: column;
            .title{
                width: 614px;
                height: 180px;
                color: $color-main-yellow;
                font-size: 36px;
                border-bottom: 1px solid $border;
                align-items: center;
                flex-direction: column;
                justify-content: space-around;
                padding: 34px 0;
                .text{
                    text-align: center;
                }
            }
            .main-content{
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 695px;
                .answer-list{
                    .answer-item{
                        width: 590px;
                        height: 96px;
                        background:rgba(248,249,249,1);
                        border-radius:4px;
                        align-items: center;
                        justify-content: space-around;
                        font-size: 28px;
                        color: $color-333;
                        margin-top: 56px;
                        &:nth-child(1){
                            margin-top: 0;
                        }
                        &.active{
                            color: $color-main-yellow;
                            background: rgba(254,154,81,0.1);
                        }
                    }
                }
            }
            .bottom{
                width: 100%;
                height: 120px;
                padding: 0 64px;
                align-items: center;
                justify-content: space-between;
                box-shadow:0px -4px 20px 0px rgba(254,154,81,0.1);
                font-size: 32px;
                position: relative;
                &.one{
                    justify-content: space-around;
                }
                .options{
                    align-items: center;
                    justify-content: space-between;
                }
                .text{
                    color: $color-333;
                    position: absolute;
                    &.pre{
                        top: 44px;
                        left: 62px;
                    }
                    &.disable{
                        color: $color-999;
                    }
                    &.next{
                        top: 44px;
                        right: 48px;
                    }
                    &.active{
                        color: $color-main-yellow;
                    }
                }
                .sub{
                    font-weight: bold;
                    color: $color-main-yellow;
                    top: 44px;
                    right: 48px;
                    position: absolute;
                    &.disable{
                        color: $color-999;
                    }
                }
            }
            
        }
    }
}
.page-new-answer{
    width: 100%;
    min-height: 100%;
    background: $white;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .page-new-answer-content{
        overflow: scroll;
    }
    .sub{
        width: 685px;
        height: 88px;
        border-radius: 44px;
        align-items: center;
        justify-content: space-around;
        border: 1px solid #FFD065;
        font-size: 32px;
        color: #FFD065;
        margin-bottom: 32px;
    }
    .sub-list{
        width: 100%;
        height: 88px;
        justify-content: space-between;
        padding: 0 32px;
        .sub-item{
            width: 311px;
            height: 88px;
            border-radius: 44px;
            border: 1px solid #FFD065;
            color: #FFD065;
            font-size: 32px;
            align-items: center;
            justify-content: space-around;
            &.active{
                border: none;
                color: $white;
                background: #FFD065;
            }
            &.disable{
                border: none;
                color: $color-999;
                background: #EFEFEF;
            }
        }
    }
    .footer{
        width: 100%;
        height: 122px;
    }
}