.chart-wrapper {
    margin:  auto;
    height: auto;
    .myallCalorie-chart {
      width: 100%;
      height: 380px;
      // margin-bottom: 40px;
    }
    .myallSportDuration-chart{
        width: 100%;
      height: 380px;
    }
  }