.page-health-record{
    width: 100%;
    min-height: 100%;
    background: #fff;
    position: relative;
    // padding: 96px 0 416px;
    padding-bottom: 416px;
    .line{
        width: 100%;
        height: 20px;
        background: #F6F6F6;
    }
}