@import '@style/theme.scss';
.page-anxious-answer{
    width: 100%;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-bg.png') center center no-repeat;
    background-size: 100% 100%;
    padding: 126px 30px 142px;
    .anxious-o3{
        width: 72px;
        height: 64px;
        background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-o3.png') center center no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    .anxious-light{
        width: 110px;
        height: 188px;
        position: absolute;
        left: 52px;
        top: 0;
        background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-light.png') center center no-repeat;
        background-size: 100% 100%;
        z-index: 0;
    }
    .anxious-top{
        padding: 70px 44px;
        width: 100%;
        height: 260px;
        background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-answer-bg.png') center center no-repeat;
        background-size: 100% 100%;
        z-index: 2;
        position: relative;
        margin-bottom: 46px;
        >p{
            font-size: 28px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: bold;
            color: #666666;
            line-height: 40px;
            margin: 0;
            padding: 0;
            &.depressed-index{
                font-size: 72px;
                font-family: PingFangSC-Semibold, PingFang SC;
                font-weight: 600;
                color: #666666;
                line-height: 72px;
                text-align: center;
                margin: 0;
                padding: 22px 0 0;
            }
            >span{
                color: #FEBD44;
            }
        }
        .anxious-o2{
            width: 66px;
            height: 60px;
            position: absolute;
            background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-o2.png') center center no-repeat;
            background-size: 100% 100%;
            top: -26px;
            right: 38px;
        }
        .anxious-book{
            width: 120px;
            height: 120px;
            position: absolute;
            background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-book.png') center center no-repeat;
            background-size: 100% 100%;
            right: 22px;
            bottom: -14px;
        }
    }
    .hra-content{
        width: 686px;
        background: $white;
        border-radius: 12px;
        padding: 48px;
        align-items: center;
        flex-direction: column;
        .question-item{
            flex-direction: column;
            align-items: center;
            width: 100%;
            .question{
                width: 100%;
                font-size: 32px;
                font-weight: bold;
                color: #333333;
                line-height: 44px;
            }
            .answer-list{
                margin-top: 48px;
                flex-direction: column;
                align-items: center;
                width: 100%;
                .answer-item{
                    width: 100%;
                    height: 124px;
                    border-radius: 12px;
                    border: 2px solid #CCCCCC;
                    align-items: center;
                    padding: 0 32px;
                    margin-bottom: 32px;
                    .letter{
                        display: block;
                        width: 64px;
                        height: 64px;
                        border-radius: 50%;
                        border: 1px solid #CCCCCC;
                        font-size: 32px;
                        color: #333333;
                        line-height: 64px;
                        text-align: center;
                        margin-right: 24px;
                    }
                    .answer-text{
                        font-size: 28px;
                        color: #333333;
                        flex: 1;
                    }
                    &.active{
                        background: rgba(100, 108, 207, 0.1);
                        border: 2px solid #467DE8;
                        .letter{
                            background: #467DE8;
                            border: none;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .action-item{
        width: 100%;
        justify-content: space-around;
        margin-top: 64px;
        z-index: 9;
        .action-pre{
            width: 280px;
            height: 100px;
            background: #FFBD4A;
            border-radius: 50px;
            font-size: 40px;
            font-weight: bold;
            font-family: PingFangSC-Regular, PingFang SC;
            color: #67522A;
            line-height: 100px;
            letter-spacing: 6px;
            text-align: center;
            border: 4px solid #67522A;
            box-sizing: border-box;
        }
        .action-pre-l{
            width: 468px;
            height: 100px;
            background: #FFBD4A;
            border-radius: 50px;
            font-size: 40px;
            font-weight: bold;
            font-family: PingFangSC-Regular, PingFang SC;
            color: #67522A;
            line-height: 100px;
            letter-spacing: 6px;
            text-align: center;
            border: 4px solid #67522A;
            box-sizing: border-box;
        }
        .action-submit{
            width: 280px;
            height: 100px;
            background: #FFF3DF;
            border-radius: 50px;
            font-size: 40px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: bold;
            color: #67522A;
            line-height: 100px;
            letter-spacing: 6px;
            text-align: center;
            border: 4px solid #67522A;
            box-sizing: border-box;
            &.disable{
                background: rgba(204, 204, 204, 0.62);
                color: #fff;
                border: none;
            }
        }
    }
    .depressed-bottom{
        width: 100vw;
        height: 142px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/anxious/anxious-bottom.png') center center no-repeat;
        background-size: 100% 100%;
    }
}