.personal-information{
    .content{
        .title{
            font-size: 40px;
            color: #333;
            font-weight: bold;
            margin: 40px 0 96px;
            text-align: center;
        }
        .form{
            padding: 0 32px 160px;
            .form-item{
                margin-bottom: 32px;
                .label{
                    height: 32px;
                    font-size: 32px;
                    font-family: PingFangSC-Semibold, PingFang SC;
                    font-weight: 600;
                    color: #333333;
                    line-height: 32px;
                    margin-bottom: 32px;
                }
                .text{
                    height: 92px;
                    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
                    padding-left: 32px;
                    line-height: 92px;
                    font-size: 28px;
                    color: #666;
                }
            }
        }
    }
}