.pace-modal {
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    .keyword {
        color: #333;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .pace-disease {
        width: 100%;
        height: 854px;
        background: #fff;
        border-radius: 12px 12px 0px 0px;
        position: fixed;
        bottom: 0;
        left: 0;
        font-size: 28px;
        &-search {
            margin-top: 48px;
            position: relative;
            width: 100%;
            .input {
                width: 390px;
                height: 76px;
                background: #ffffff;
                box-shadow: 0px 6px 20px 0px rgba(68, 96, 225, 0.2);
                border-radius: 40px;
                padding: 0 152px 0 80px;
                margin-left: 84px;
            }
            .back {
                background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/ferfectRecord/back.png');
                background-size: 100% 100%;
                width: 32px;
                height: 32px;
                position: absolute;
                left: 30px;
                top: 24px;
            }
            .line {
                width: 2px;
                height: 28px;
                box-shadow: 1px 0px 0px 0px rgba(204, 204, 204, 0.5);
                position: absolute;
                right: 160px;
                top: 27px;
            }
            .search {
                position: absolute;
                right: 70px;
                top: 23px;
                color: #333;
            }
            .icon {
                background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/ferfectRecord/search.png');
                background-size: 100% 100%;
                width: 32px;
                height: 32px;
                position: absolute;
                left: 112px;
                top: 24px;
            }
            .padding {
                padding: 0 152px 0 48px;
                width: 422px;
            }
        }
        &-content {
            margin: 36px 0 48px;
            overflow-y: auto;
            height: 100%;
            .list {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                justify-content: flex-start;
                align-items: center;
                color: #999;
                width: 622px;
                height: 92px;
                box-shadow: 0px 1px 0px 0px rgba(204, 204, 204, 0.5);
                margin: 0 auto;
                white-space: nowrap;
                &-icon {
                    background: url('https://questionnaire-1301127519.cos.ap-shanghai.myqcloud.com/ferfectRecord/search.png');
                    background-size: 100% 100%;
                    width: 32px;
                    height: 32px;
                }
                &-name {
                    margin-left: 24px;
                    color: #999;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    div {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        line-height: 92px;
                        div {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            .keyword {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                display: inline-block;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }
        }
        &-none {
            font-size: 24px;
            color: #999;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
        }
    }
}
